
@{
    ViewBag.Title = "OrderReporte";
    Layout = "~/Views/Shared/Home.cshtml";
}

@section Body{
    <table>
        <tr>
            <td>
                Total Amount
            </td>
            <td>

            </td>
        </tr>
    </table>
    }

