
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    @RenderSection("Head")
</head>
<body>
    <div>
        <span><a href="/Order/NewOrder">New Order</a></span>
        <span><a href="/Order/OrderEAList">Order List</a></span>
        <span><a href="">Order Reporte</a></span>
    </div>
    <div>
        @RenderSection("Body")
    </div>
</body>
</html>
